<h3>Doc #<%- data.i + 1 %>: <a href="/<%- data.doc._id %>"><%- data.doc.title || data.doc._id %></a></h3>
<div class="row">
  <% if (data.credentials || data.edit) { %>
    <a class="button hollow float-right" href="/<%- data.doc._id %>/edit">edit</a>
  <% } %>
  <div class="columns small-8">
    <%= data.doc.content %>
  </div>
  <div class="columns small-4">
    <% if (data.doc._attachments['top-image-2.jpeg']) { %>
      <img src="/<%- data.doc._id %>/top-image-2.jpeg">
    <% } else if (data.doc._attachments['top-image-2.png']) { %>
      <img src="/<%- data.doc._id %>/top-image-2.png">
    <% } %>
  </div>
</div>
