<h2><%- data.doc.title || data.doc._id %></h2>
<% if (data.doc.content) { %>
  <%= data.doc.content %>
<% } %>
<% if (data.credentials || data.edit) { %>
<p><a class="button hollow" href="/<%- data.doc._id %>/edit">edit</a></p>
<% } %>
<small><pre>
<%- JSON.stringify(data.doc, null, ' ') %>
</pre></small>
<% if (data.doc._attachments['top-image.jpeg']) { %>
  <img src="/<%- data.doc._id %>/top-image.jpeg">
<% } else if (data.doc._attachments['top-image.png']) { %>
  <img src="/<%- data.doc._id %>/top-image.png">
<% } %>
