body > .row:first-of-type {
  padding-left: 50px;
}
button.menu-icon {
  position: absolute !important;
  left: 15px;
  top: 15px;
}

#meNu h4 a {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}
#meNu h4 a:hover,
#meNu h4 a:focus {
  color: rgba(230,230,230,1);
}
#meNu .close-button {
  left: 15px !important;
}
#meNu h4 {
  margin-left: 80px;
}
.reveal {
  background-color: rgba(0,0,0,.85);
}

.nopadding {
  padding: 0 0 0 0 !important;
}

.help {
  margin-bottom: 20px;
}


